.nav-bar
{
    display: flex;
    flex-direction: row;
 margin: 10px auto auto 50px;
 flex-wrap: wrap;
 gap: 6rem;
}
a{
    text-decoration: none;
    color: black;
}
main
{
    display: flex;
    flex-flow: row wrap;
    gap: 10rem;
}
.image
{
    width: 55                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 0px;
    height: 500px;

    
}
.img1
{
    width:260px;
    height: 260px;
}
.img3
{
    width: 550px;
}
