*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #23273b;
}
@media (max-width:800px)
{
  .nav-bar
  {
      display: flex;
      margin: 10px 10px 10px 10px;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items:flex-start;
      gap: 1rem;
  }
  .home-btn,.project,.technologies,.contact
  {
      align-self: center;
  }
  a{
    text-decoration: none;
    color: #FFFFFF;
  }
  button{
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    width: 60px;
    height: 30px;
    color: #FFFFFF;
    background-color:blue;
  }
  .waving{
    align-self: center;
    width: 50px;
    height: 50px;
   } 
   .container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
   }
   .content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
   }
   .heading{
    align-self: center;
    color: #FFFFFF;
   }
   .heading3{
    align-self: center;
    color: #ffff00;
   }
   .pc{
    margin:30px auto 30px auto;
    align-self: center;
    width: 360px;
    height: 360px;
   }
   .flex-box{
    display: flex;
    justify-content: center;
    align-content: center;
   }
   .underline{
    /* margin-left: 5px; */
    border-radius: 10px;
    width: 70px;
    height: 5px;
    background-color:#1435d8;
   }
   .body-image{
    width: 220px;
    height: 220px;
   }
   .container2{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
   }
   .projects{
    box-sizing: border-box;
    width: 400px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
   }
   p{
    text-align: center;
    color: #FFFFFF;
   }
   footer{
    margin: 20px 10px 20px 10px;
    display: flex;
    justify-content: center;
    align-content: center;
   }
   .logo{
    width: 22px;
  }
  .logos
{
  margin: 10px 10px 10px 15px;
}
.underline2{

    border-radius: 10px;
    width: 106px;
    height: 5px;
   background-color:#1435d8;
   
}
#footer{
    text-align: center;
    color: #FFFFFF;
  
  }

}
@media (min-width:800px)
{
    .nav-bar
    {
        display: flex;
        margin: 10px 10px 10px 10px;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items:flex-end;
        gap: 1rem;
    }
    .home-btn,.project,.technologies,.contact
    {
        align-self: center;
    }
  button{
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    width: 60px;
    height: 30px;
    color: #FFFFFF;
    background-color:blue;
  }
  a{
    text-decoration: none;
    color: #FFFFFF;
  }
  .waving
  {
    align-self:center;
    width: 25px;
    height: 25px;
  }
  .container
  {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 3rem;

  }
  .content
  {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-content:center;
    justify-content: center;
    width: 300px;
    height: 400px;
  }
  .heading
  {
    color: #FFFFFF;
  }
  h2{
    align-self:center;
  }
  .pc{
    width: 400px;
    height: 400px;
  }
  h1{
    margin-left: 68px;
  }
  .heading3
  {
    position: relative;
    right: 34px;
    color:#ffff00 ;
  }
 .box
 {
  box-sizing: border-box;
  width: 280px;
  height: 270px;
 }
 .flex-box{
  display: flex;
  justify-content: center;
  align-content: center;
 }
 .underline{
  margin-left: 5px;
  border-radius: 10px;
  width: 80px;
  height: 5px;
  background-color:#1435d8;
 }
.after{
  margin: 30px 15px auto 15px;
  text-align: center;
}
.container2{
  display: flex;
  align-content: center;
  justify-content: center;
}
.projects{

  box-sizing: border-box;
  width: 560px;
  /* margin: 10px auto 10px 30% ; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-content: center;
}
.body-image
{
  width: 260px;
  height: 250px;
}
#footer{
  text-align: center;
  color: #FFFFFF;

}
p{
  text-align: center;
  color: #FFFFFF;

}
.logo{
  width: 22px;
}
.logos
{
  margin: 10px 10px 10px 15px;
}
footer{
  margin: 20px 10px 20px 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.underline2{

    border-radius: 10px;
    width: 106px;
    height: 5px;
   background-color:#1435d8;
   
}
}